@model IEnumerable<MvcWebApp.TutorWorldServiceRef.Teacher>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName), @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subjects)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EducationLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HourlyPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            I LIKE PUPPIES
        </td>
        @*<td>
            @Html.DisplayFor(X => string.Join(",", item.Subjects.Select(s => s.SubjectName)))
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.EducationLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HourlyPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
