@model MvcWebApp.TutorWorldServiceRef.Student

@{
    ViewBag.Title = "Details";
    var IsAuthStudent = (bool)ViewBag.IsItCurrentUser;
}

<h2>Details</h2>

<div>
    <h4>Student @Model.FirstName @Model.LastName</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <div class="" style="width: 200px; height:200px;">
                picture
            </div>
        </div>
        <div class="col-md-5">
            <div class="user-info-container">
                <h4>
                    Information
                    @if(IsAuthStudent)
                    {

                        @Html.ActionLink("Edit", "Edit", null, new { @class = "pull-right" })

                    }
                </h4>
                <ul class="user-info-list">
                    <li><strong>Name: </strong>@Model.FirstName @Model.LastName</li>
                    <li><strong>Email: </strong>@Model.Email</li>
                    <li><strong>Phone number: </strong>@Model.Phonenumber</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bio-container">
        <h4 class="bio-title">About Me</h4>
        <p>@Model.Bio</p>
    </div>
</div>